@font-face {
    font-family: "Montserrat"; /* Имя шрифта */
    src: url(../fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin: 0;
    font-family: "Montserrat";
}

.hero {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    opacity: 1;
    transition: .3s;
    z-index: 1;
}

.btn {
    height: 30px;
    width: 30px;
    background-color: black;
    color:  #a19d9c;
    border: 0;
    margin-left: 20px;
    font-family: "Montserrat";
    outline: none;
    margin-top: 20px;
}

.btn:hover {
    border: 1px solid white;
    color: white;
    transition: .3s;
}

.js-object {
    width: 200px;
    height: 30px;
    background-color: black;
    color:  #a19d9c;
    border: 0;
    margin-left: 20px;
    font-family: "Montserrat";
    outline: none;
    margin-top: 20px;
}

.js-object:hover {
    border: 1px solid white;
    color: white;
    transition: .3s;
}

.js-array{
    width: 200px;
    height: 30px;
    background-color: black;
    color:  #a19d9c;
    border: 0;
    margin-left: 20px;
    font-family: "Montserrat";
    outline: none;
    margin-top: 20px;
}

.js-array:hover {
    border: 1px solid white;
    color: white;
    transition: .3s;
}

input {
    height: 30px;
    width: 200px;
    outline: none;
    background-color: black;
    color:  #a19d9c;
    border: 0;
    padding-left: 6px;
    margin-left: 20px;
}


.hero.-invisible {
    opacity: 0;
}

.bubble.-invisible {
    opacity: 0;
}

.bubble {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a19d9c;
    height: 60px;
    width: 220px;
    border-radius: 17%;
    border-top-left-radius: 0;
    z-index: 2;
    margin-top: 430px;
    margin-left: 140px;
    opacity: 0;
    transition: .3s;
    color: black;
    padding-top: 10px;
    padding-left: 10px;
}

.bubble.-visible{
    opacity: 1;
}

.circle h1 {
    color: white
}

.control-panel {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 250px;
    min-height: 250px;
    padding: 20px;
    margin-top: 825px;
    background-color: #a19d9c;
}

.massive-panel {
    top: 20px;
    left: 20px;
    position: absolute;
    width: 200px;
    height: auto;
    background-color: #a19d9c;
    padding: 10px;
}

.test-array {
    background-color: black;
    color:  #a19d9c;
    height: 30px;
    width: 120px;
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 5px;
    transition: .3s;
}

.bubble-test {
    border: 1px solid black;
    padding: 5px;
    transition: .3s;
}